ion-grid{
  margin-top: 100px !important;
}
.box {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: flex;
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
}

